.profile-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-top: 50px;
    box-shadow: 10px 5px 5px black;
    background-color: aliceblue;
    justify-content: center;

}
.pic-container{
    width: 250px;
}

.profile-pic{
   height: 250px;

    
}

.profileCharacters{
    box-shadow: 10px 5px 5px black;
    border: 1px black solid;
    margin: 15px;
    background-color: antiquewhite;
}